<h1>Page#test_b</h1>
<p>
	<%= link_to 'A', '/page/test_a' %><br />
	<%= link_to 'index', '/' %><br />
	<a href='#' onclick="<%= analytical.clicky.track('track link in A') %>; return false;">track clicky only</a><br />
</p>
